### Data Preparation for AWS Comprehend

In [10]:
import pandas as pd

df = pd.read_csv("s3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/train.csv", names=["Label", "Title", "Review"])

In [11]:
neg_df = df[df['Label'] == 1]

In [13]:
neg_df.head()

,Label,Title,Review
6,1,Buyer beware,"This is a self-published book, and if you want..."
10,1,The Worst!,A complete waste of time. Typographical errors...
13,1,Oh please,I guess you have to be a romance novel lover f...
14,1,Awful beyond belief!,I feel I have to write to keep others from was...
15,1,Don't try to fool us with fake reviews.,It's glaringly obvious that all of the glowing...

In [5]:
neg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1800000 entries, 6 to 3599998
Data columns (total 3 columns):
Label     int64
Title     object
Review    object
dtypes: int64(1), object(2)
memory usage: 54.9+ MB

In [6]:
extract_df = neg_df.head(40000)['Review']

In [7]:
extract_df.count()

40000

In [8]:
extract_df.head(10)

6     This is a self-published book, and if you want...
10    A complete waste of time. Typographical errors...
13    I guess you have to be a romance novel lover f...
14    I feel I have to write to keep others from was...
15    It's glaringly obvious that all of the glowing...
19    sizes are much smaller than what is recomended...
20    This model may be ok for sedentary types, but ...
22    Rather than scratches and insect droppings, th...
25    I have had the charger for more than two years...
26    I bought one of these chargers..the instructio...
Name: Review, dtype: object

In [9]:
extract_df.to_csv('extract_df.csv', index=False)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  if __name__ == '__main__':

In [10]:
import sagemaker
from sagemaker import get_execution_role
import json
import boto3

sess = sagemaker.Session()

role = get_execution_role()
#print(role) # This is the role that SageMaker would use to leverage AWS resources (S3, CloudWatch) on your behalf

bucket = sess.default_bucket() # Replace with your own bucket name if needed
print(bucket)
prefix = 'NLP_AWS/NLP_AWS' #Replace with the prefix under which you want to store the data if needed

sagemaker-us-east-1-023375022819

In [10]:
comprehend_channel = prefix + '/comprehend'

sess.upload_data(path='extract_df.csv', bucket=bucket, key_prefix=comprehend_channel)

's3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/comprehend/extract_df.csv'

Use the above output as Input for Amazon Comprehend to generate topics.

### Initial Analysis of Topic Modeling from 20k Input and 40k Input

In [1]:
!aws s3 cp s3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/023375022819-TOPICS-f0b9b40086d3cc882f48800be187f3fb/output/output.tar.gz .

download: s3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/023375022819-TOPICS-f0b9b40086d3cc882f48800be187f3fb/output/output.tar.gz to ./output.tar.gz

In [2]:
!tar -xvzf output.tar.gz

topic-terms.csv
doc-topics.csv

In [3]:
!cat topic-terms.csv

topic,term,weight
000,item,0.01320014
000,price,0.009271662
000,cheap,0.008077917
000,product,0.0145492125
000,return,0.00996442
000,buy,0.022574656
000,worth,0.0070977435
000,pay,0.005717317
000,wear,0.0050701024
000,shirt,0.0037684275
001,movie,0.0891871
001,watch,0.026982259
001,make,0.020209568
001,wrong,0.016609019
001,time,0.018557215
001,funny,0.0075101038
001,waste,0.011658727
001,plot,0.008867379
001,bore,0.011109356
001,minute,0.006217682
002,book,0.082376644
002,story,0.030742362
002,read,0.026288286
002,character,0.01778436
002,write,0.018424777
002,find,0.017625522
002,interest,0.014726332
002,plot,0.012445922
002,good,0.019640913
002,bore,0.013027136
003,film,0.04789476
003,bad,0.023904858
003,movie,0.023667585
003,act,0.011379912
003,star,0.010218274
003,script,0.008100315
003,make,0.013481576
003,watch,0.011116439
003,keanu,0.0064930655
003,performance,0.0065185176
004,work,0.061424877
004,product,0.039028663
004,great,0.015444886
004,week,0.0121942
004,stop,0.010744139
004,day,0.009447135
004,recommend,0.008850967
004,battery,0.0072975117
004,month,0.008529679
004,warm,0.005031291
005,work,0.047642704
005,buy,0.03650683
005,battery,0.018100744
005,charge,0.016437955
005,power,0.00931674
005,month,0.011471893
005,ibook,0.008112333
005,adapter,0.0072650295
005,turn,0.0076256157
005,computer,0.008254448
006,product,0.04387296
006,quality,0.034586973
006,poor,0.01320673
006,sound,0.013718844
006,picture,0.011741461
006,wrong,0.013634796
006,cheap,0.010068029
006,video,0.009309592
006,price,0.009771339
006,pay,0.008338917
007,toy,0.029507652
007,play,0.03333662
007,fall,0.019081116
007,recommend,0.01419261
007,love,0.014208696
007,money,0.0158058
007,week,0.010793178
007,break,0.009478064
007,year,0.011173023
007,waste,0.011455448
008,version,0.047566887
008,original,0.028906595
008,edition,0.013990366
008,kindle,0.011575154
008,miss,0.010661428
008,amazon,0.011612214
008,story,0.011087277
008,release,0.008206131
008,special,0.008052232
008,great,0.011472537
009,movie,0.07666788
009,bad,0.061522327
009,watch,0.031869102
009,act,0.022932356
009,film,0.01885905
009,time,0.022179624
009,waste,0.017343523
009,worth,0.010653925
009,plot,0.009688326
009,script,0.0078074383
010,album,0.074240826
010,song,0.05625625
010,music,0.022100465
010,listen,0.018758254
010,sound,0.020132013
010,good,0.023599338
010,hear,0.015135571
010,band,0.01324048
010,bad,0.019277286
010,track,0.011071923
011,diaper,0.10455835
011,pamper,0.05836679
011,baby,0.050552674
011,spin-dry,0.040127117
011,leak,0.035391156
011,swaddlers,0.021988682
011,cruiser,0.018013464
011,huggies,0.017151086
011,night,0.017087629
011,change,0.015735213
012,order,0.060182225
012,item,0.042682853
012,receive,0.04133922
012,ship,0.02443934
012,amazon,0.02626907
012,month,0.018016374
012,seller,0.015102321
012,return,0.017870506
012,product,0.020858211
012,refund,0.012033874
013,cd,0.09873658
013,song,0.05302833
013,clay,0.025479654
013,buy,0.03917408
013,disappoint,0.022931872
013,music,0.019860195
013,voice,0.016454669
013,listen,0.01710911
013,good,0.022979125
013,hear,0.01186403
014,book,0.2520323
014,read,0.1061327
014,bore,0.0320953
014,write,0.022282641
014,school,0.013378348
014,page,0.014032812
014,finish,0.012774598
014,time,0.01943909
014,story,0.015460486
014,wrong,0.016374072
015,dvd,0.085596114
015,play,0.044678375
015,player,0.03233141
015,video,0.023185838
015,watch,0.01742007
015,quality,0.016842771
015,sound,0.013007854
015,picture,0.011502973
015,purchase,0.013332147
015,disc,0.01012748
016,size,0.07328656
016,fit,0.048807543
016,small,0.03800164
016,order,0.02758948
016,large,0.020365717
016,return,0.022821035
016,ear,0.018189734
016,wear,0.017069718
016,big,0.013849742
016,shoe,0.010150784
017,game,0.1238484
017,play,0.06278383
017,graphic,0.010622689
017,buy,0.026298828
017,money,0.015152771
017,nickelodeon,0.0064924
017,toy,0.009074813
017,level,0.006388615
017,think,0.011427483
017,bug,0.0060281665
018,printer,0.08121262
018,paper,0.07321005
018,hp,0.04696072
018,print,0.04208162
018,problem,0.03149557
018,fee,0.017291667
018,jam,0.015800627
018,time,0.021416537
018,sheet,0.01292613
018,year,0.015241767
019,book,0.26473716
019,buy,0.062373176
019,review,0.023333069
019,find,0.022104144
019,read,0.024272142
019,write,0.018618867
019,page,0.0134164635
019,save,0.013173116
019,think,0.016073456
019,worth,0.012455105

In [4]:
import pandas as pd
tenk_df = pd.read_csv("doc-topics.csv")
tenk_df.head()

              docname  topic  proportion
0   extract_df.csv:20      0         1.0
1   extract_df.csv:55      0         1.0
2   extract_df.csv:90      0         1.0
3  extract_df.csv:125      0         1.0
4  extract_df.csv:160      2         1.0

In [5]:
tenk_term_df = pd.read_csv("topic-terms.csv")
tenk_term_df.head()

   topic     term    weight
0      0     item  0.013200
1      0    price  0.009272
2      0    cheap  0.008078
3      0  product  0.014549
4      0   return  0.009964

### create topic term lookup table

In [6]:
tenk_topic_df = tenk_term_df.sort_values(['topic','weight'],ascending=False).groupby('topic').head(5).drop('weight', axis=1)

In [7]:
tenk_topic_join_df = tenk_topic_df.sort_values(by='topic')
tenk_topic_join_df.head()

   topic     term
1      0    price
5      0      buy
4      0   return
0      0     item
3      0  product

In [8]:

topic_join_name_df = tenk_topic_join_df.groupby('topic')['term'].apply(lambda x: '|'.join(x)).rename('topic_term').reset_index()

topic_join_name_df

    topic                              topic_term
0       0           price|buy|return|item|product
1       1             time|make|watch|movie|wrong
2       2              write|good|read|story|book
3       3                 film|bad|make|movie|act
4       4            stop|week|great|product|work
5       5           buy|work|battery|month|charge
6       6        poor|wrong|sound|quality|product
7       7                toy|play|money|love|fall
8       8  kindle|amazon|edition|original|version
9       9                time|act|watch|bad|movie
10     10             sound|good|song|album|music
11     11        leak|spin-dry|baby|pamper|diaper
12     12          item|order|amazon|ship|receive
13     13                   good|clay|buy|song|cd
14     14               time|write|bore|read|book
15     15             dvd|play|video|watch|player
16     16             return|order|small|fit|size
17     17               play|game|money|think|buy
18     18          problem|print|hp|paper|printer
19     19               find|review|read|buy|book

#### merge loopup table: topic_join_name_df with tenk_df

In [9]:
print(tenk_df.shape)
tenk_topic_merge_df = tenk_df.merge(topic_join_name_df,how='outer', left_on = ['topic'], right_on = ['topic'])
print(tenk_topic_merge_df.shape)
tenk_topic_merge_df.head(10)

(12882, 3)
(12882, 4)

              docname  topic  proportion                     topic_term
0   extract_df.csv:20      0    1.000000  price|buy|return|item|product
1   extract_df.csv:55      0    1.000000  price|buy|return|item|product
2   extract_df.csv:90      0    1.000000  price|buy|return|item|product
3  extract_df.csv:125      0    1.000000  price|buy|return|item|product
4  extract_df.csv:230      0    1.000000  price|buy|return|item|product
5  extract_df.csv:405      0    1.000000  price|buy|return|item|product
6  extract_df.csv:510      0    0.366276  price|buy|return|item|product
7  extract_df.csv:615      0    0.415374  price|buy|return|item|product
8  extract_df.csv:650      0    1.000000  price|buy|return|item|product
9  extract_df.csv:685      0    0.655920  price|buy|return|item|product

In [14]:
### merge tenk_topic_merge_df with extract_10k_df
extract_10k_df = neg_df.head(10000)
extract_10k_df.head()

,Label,Title,Review
6,1,Buyer beware,"This is a self-published book, and if you want..."
10,1,The Worst!,A complete waste of time. Typographical errors...
13,1,Oh please,I guess you have to be a romance novel lover f...
14,1,Awful beyond belief!,I feel I have to write to keep others from was...
15,1,Don't try to fool us with fake reviews.,It's glaringly obvious that all of the glowing...

In [15]:
tenk_topic_merge_df['csv_index']=tenk_topic_merge_df['docname'].str.extract('(\d+)').astype(int).apply(lambda x: x-1)
tenk_topic_merge_df.head()

,docname,topic,proportion,topic_term,csv_index
0,extract_df.csv:20,0,1.0,price|buy|return|item|product,19
1,extract_df.csv:55,0,1.0,price|buy|return|item|product,54
2,extract_df.csv:90,0,1.0,price|buy|return|item|product,89
3,extract_df.csv:125,0,1.0,price|buy|return|item|product,124
4,extract_df.csv:230,0,1.0,price|buy|return|item|product,229

In [16]:
extract_10k_df.reset_index(inplace=True)

In [17]:
extract_10k_df.drop(['index'], axis=1,inplace=True)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [18]:


tenk_final_merge_df = extract_10k_df.merge(tenk_topic_merge_df,how='outer', left_on = extract_10k_df.index, right_on = ['csv_index'])
tenk_final_merge_df.head(200)

,Label,Title,Review,docname,topic,proportion,topic_term,csv_index
0,1.0,Buyer beware,"This is a self-published book, and if you want...",extract_df.csv:1,1.0,1.000000,time|make|watch|movie|wrong,0
1,1.0,The Worst!,A complete waste of time. Typographical errors...,extract_df.csv:2,2.0,1.000000,write|good|read|story|book,1
2,1.0,Oh please,I guess you have to be a romance novel lover f...,extract_df.csv:3,0.0,1.000000,price|buy|return|item|product,2
3,1.0,Awful beyond belief!,I feel I have to write to keep others from was...,extract_df.csv:4,0.0,1.000000,price|buy|return|item|product,3
4,1.0,Don't try to fool us with fake reviews.,It's glaringly obvious that all of the glowing...,extract_df.csv:5,0.0,1.000000,price|buy|return|item|product,4
5,1.0,sizes recomended in the size chart are not real,sizes are much smaller than what is recomended...,extract_df.csv:6,0.0,1.000000,price|buy|return|item|product,5
6,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,0.0,0.611489,price|buy|return|item|product,6
7,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,3.0,0.388511,film|bad|make|movie|act,6
8,1.0,Another Abysmal Digital Copy,"Rather than scratches and insect droppings, th...",extract_df.csv:8,5.0,1.000000,buy|work|battery|month|charge,7
9,1.0,Problem with charging smaller AAAs,I have had the charger for more than two years...,extract_df.csv:9,5.0,1.000000,buy|work|battery|month|charge,8
10,1.0,"Works, but not as advertised",I bought one of these chargers..the instructio...,extract_df.csv:10,5.0,1.000000,buy|work|battery|month|charge,9
11,1.0,Disappointed,"I read the reviews,made my purchase and was ve...",extract_df.csv:11,0.0,1.000000,price|buy|return|item|product,10
12,1.0,Oh dear,I was excited to find a book ostensibly about ...,extract_df.csv:12,5.0,1.000000,buy|work|battery|month|charge,11
13,1.0,Incorrect disc!,"I am a big JVC fan, but I do not like this mod...",extract_df.csv:13,3.0,1.000000,film|bad|make|movie|act,12
14,1.0,"should be titled ""Hollywood Debacle""","The plot is so ridiculous, I have to wonder if...",extract_df.csv:14,14.0,1.000000,time|write|bore|read|book,13
15,1.0,Nothing you don't already know,If you have even casually looked into applying...,extract_df.csv:15,2.0,1.000000,write|good|read|story|book,14
16,1.0,Unfortunately it wasn't entertaining in the le...,"When I first ordered the CD, I figured it was ...",extract_df.csv:16,4.0,1.000000,stop|week|great|product|work,15
17,1.0,Doesn't work on a Mac,It clearly says on line this will work on a Ma...,extract_df.csv:17,17.0,1.000000,play|game|money|think|buy,16
18,1.0,Very Frustrating,My three year old son was very excited to get ...,extract_df.csv:18,17.0,1.000000,play|game|money|think|buy,17
19,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,0.0,0.571481,price|buy|return|item|product,18
20,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,2.0,0.203128,write|good|read|story|book,18
21,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,4.0,0.225391,stop|week|great|product|work,18
22,1.0,Cannot recommend,"As a former Alaskan, I didn't want to have to ...",extract_df.csv:20,0.0,1.000000,price|buy|return|item|product,19
23,1.0,Maybe I got a bad one.,"My experience: I got this from FM, not Amazon....",extract_df.csv:21,15.0,1.000000,dvd|play|video|watch|player,20
24,1.0,TERRIBLE!! DO NOT BUY THIS,"I bought this for my wife for her birthday,and...",extract_df.csv:22,5.0,1.000000,buy|work|battery|month|charge,21
25,1.0,*** BEWARE ***,This TV is set so that it is not capable of a ...,extract_df.csv:23,2.0,1.000000,write|good|read|story|book,22
26,1.0,Disappointed Romanian!,This book in my opinion is biased and takes an...,extract_df.csv:24,0.0,1.000000,price|buy|return|item|product,23
27,1.0,Not the best,I bought both this and lonely planet and have ...,extract_df.csv:25,3.0,1.000000,film|bad|make|movie|act,24
28,1.0,Either 1 or 5 Stars. Depends on how you look a...,Either 1 or 5 Stars. Depends on how you look a...,extract_df.csv:26,8.0,1.000000,kindle|amazon|edition|original|version,25
29,1.0,Disappointing,"The text is the same as ever (I think), but th...",extract_df.csv:27,0.0,1.000000,price|buy|return|item|product,26
...,...,...,...,...,...,...,...,...
170,1.0,super wack,just like No-Limit Cash Money has no shame at ...,extract_df.csv:140,10.0,1.000000,sound|good|song|album|music,139
171,1.0,ghetto foolishness,"i like the Hot Boys and really like Juvenile, ...",extract_df.csv:141,10.0,1.000000,sound|good|song|album|music,140
172,1.0,Please try another Hot Boy album...,Guerriula Warfare is an album I fell is someth...,extract_df.csv:142,0.0,0.542951,price|buy|return|item|product,141
173,1.0,Please try another Hot Boy album...,Guerriula Warfare is an album I fell is someth...,extract_df.csv:142,10.0,0.457049,sound|good|song|album|music,141
174,1.0,This CD iz Aight...........,FIRST OF ALL HOW COME ALL YA'LL BE DISSIN' NO ...,extract_df.csv:143,0.0,1.000000,price|buy|return|item|product,142
175,1.0,NOT A RIDE ON,I should have paid closer attention to the siz...,extract_df.csv:144,14.0,1.000000,time|write|bore|read|book,143
176,1.0,Complete reference... yes,Well although i found the book to be extremely...,extract_df.csv:145,0.0,1.000000,price|buy|return|item|product,144
177,1.0,My Daughter Hates It,I got this throat spray in a hurry hoping to r...,extract_df.csv:146,0.0,1.000000,price|buy|return|item|product,145
178,1.0,bench,The bench is very nice. I had a few pieces tha...,extract_df.csv:147,6.0,1.000000,poor|wrong|sound|quality|product,146
179,1.0,Gauges in chair arms,"Chair is the product ordered, however it came ...",extract_df.csv:148,10.0,1.000000,sound|good|song|album|music,147
180,1.0,Seal IV,"I am a huge fan of Seal's first 3 albums, so I...",extract_df.csv:149,0.0,0.386821,price|buy|return|item|product,148
181,1.0,Seal IV,"I am a huge fan of Seal's first 3 albums, so I...",extract_df.csv:149,2.0,0.456578,write|good|read|story|book,148
182,1.0,Seal IV,"I am a huge fan of Seal's first 3 albums, so I...",extract_df.csv:149,3.0,0.156601,film|bad|make|movie|act,148
183,1.0,Too Much on the Mystical Plate,"The idea behind God was in this Place and I, i...",extract_df.csv:150,1.0,1.000000,time|make|watch|movie|wrong,149
184,1.0,an extreme emotional ride,If you want to watch a movie where a couple me...,extract_df.csv:151,0.0,0.482996,price|buy|return|item|product,150
185,1.0,an extreme emotional ride,If you want to watch a movie where a couple me...,extract_df.csv:151,2.0,0.155123,write|good|read|story|book,150
186,1.0,an extreme emotional ride,If you want to watch a movie where a couple me...,extract_df.csv:151,1.0,0.225890,time|make|watch|movie|wrong,150
187,1.0,an extreme emotional ride,If you want to watch a movie where a couple me...,extract_df.csv:151,6.0,0.135991,poor|wrong|sound|quality|product,150
188,1.0,Grrrrr. Arrrrgh.,"We few, we lucky few, who must endure the Prax...",extract_df.csv:152,7.0,1.000000,toy|play|money|love|fall,151
189,1.0,bye bye mom and dad,My children and I love the little Critter book...,extract_df.csv:153,2.0,1.000000,write|good|read|story|book,152
190,1.0,Not her best...........,"Before I begin, let me just say that I absolut...",extract_df.csv:154,2.0,1.000000,write|good|read|story|book,153
191,1.0,This one is missing that Feehan Spark,This book was a major disappointment. It was m...,extract_df.csv:155,2.0,1.000000,write|good|read|story|book,154
192,1.0,Too Boring,This book had great potential that it did not ...,extract_df.csv:156,0.0,0.253879,price|buy|return|item|product,155
193,1.0,Too Boring,This book had great potential that it did not ...,extract_df.csv:156,2.0,0.510102,write|good|read|story|book,155
194,1.0,Too Boring,This book had great potential that it did not ...,extract_df.csv:156,1.0,0.190807,time|make|watch|movie|wrong,155
195,1.0,Too Boring,This book had great potential that it did not ...,extract_df.csv:156,3.0,0.045211,film|bad|make|movie|act,155
196,1.0,Ick ack. Put it back.,I absolutely couldn't stand this book!I'm not ...,extract_df.csv:157,14.0,1.000000,time|write|bore|read|book,156
197,1.0,disappointed,i was really disappointed with this book. The ...,extract_df.csv:158,2.0,1.000000,write|good|read|story|book,157
198,1.0,Not up to scratch!,I first found Christine Feehan's work through ...,extract_df.csv:159,2.0,1.000000,write|good|read|story|book,158
199,1.0,I really wish i hadn't wasted my time,"First, let me say, I'd heard that I might find...",extract_df.csv:160,2.0,1.000000,write|good|read|story|book,159

In [19]:
tenk_final_df = tenk_final_merge_df[tenk_final_merge_df['proportion']==1.]

In [20]:
tenk_final_df.shape

(8678, 8)

In [21]:
tenk_final_df.to_csv('tenk_final_df.csv', index=False)

In [21]:
import sagemaker
from sagemaker import get_execution_role
import json
import boto3

sess = sagemaker.Session()

role = get_execution_role()
#print(role) # This is the role that SageMaker would use to leverage AWS resources (S3, CloudWatch) on your behalf

bucket = sess.default_bucket() # Replace with your own bucket name if needed
print(bucket)
prefix = 'NLP_AWS/NLP_AWS' #Replace with the prefix under which you want to store the data if needed

sagemaker-us-east-1-023375022819

In [25]:
comprehend_channel = prefix + '/comprehend'

sess.upload_data(path='tenk_final_df.csv', bucket=bucket, key_prefix=comprehend_channel)

's3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/comprehend/tenk_final_df.csv'

's3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/comprehend/tenk_final_df.csv'

#### Load 40k comprehend data

In [1]:
!aws s3 cp s3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/comprehend/023375022819-TOPICS-872ef6b19d4829f30b057247a939ca48/output/output.tar.gz .

download: s3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/comprehend/023375022819-TOPICS-872ef6b19d4829f30b057247a939ca48/output/output.tar.gz to ./output.tar.gz

In [2]:
!tar -xvzf output.tar.gz

topic-terms.csv
doc-topics.csv

In [3]:
!cat topic-terms.csv

topic,term,weight
000,movie,0.09402398
000,watch,0.02498362
000,wrong,0.014464636
000,funny,0.007826147
000,make,0.013933469
000,bore,0.010897398
000,good,0.014267884
000,act,0.0072559235
000,part,0.0057911
000,star,0.007622383
001,book,0.06389944
001,story,0.029499054
001,read,0.033440992
001,character,0.01939331
001,write,0.016529718
001,interest,0.010646802
001,plot,0.00959722
001,author,0.007844011
001,line,0.0065978603
001,series,0.006087168
002,break,0.0154708335
002,year,0.01267386
002,month,0.0118638575
002,set,0.009456752
002,disc,0.009191847
002,plastic,0.007345996
002,toy,0.0067676883
002,buy,0.020888986
002,piece,0.00568495
002,fall,0.0053911866
003,product,0.03875014
003,buy,0.037172183
003,work,0.020472776
003,break,0.010205354
003,cheap,0.009635811
003,quality,0.010484237
003,price,0.008577088
003,money,0.014248242
003,purchase,0.009578801
003,item,0.0096434755
004,quality,0.03067479
004,poor,0.017959643
004,sound,0.018441437
004,dvd,0.022000434
004,picture,0.014847026
004,purchase,0.011873627
004,product,0.015258715
004,video,0.009399919
004,good,0.01527535
004,disappoint,0.009411815
005,book,0.053782776
005,star,0.030398576
005,give,0.027514355
005,review,0.0212281
005,write,0.0135444915
005,bad,0.017928064
005,movie,0.026501201
005,rate,0.008973822
005,people,0.0071682595
005,author,0.0047881138
006,version,0.04616175
006,original,0.020018917
006,edition,0.014499511
006,release,0.0107960105
006,kindle,0.009762685
006,dvd,0.016537126
006,cut,0.008213664
006,copy,0.0076469784
006,miss,0.0063182507
006,buy,0.020519437
007,film,0.068224475
007,bad,0.0165897
007,act,0.00930512
007,watch,0.011779943
007,make,0.012177929
007,scene,0.0061122268
007,character,0.005801856
007,plot,0.0054419544
007,actor,0.0038054923
007,horror,0.0033879005
008,movie,0.06913888
008,bad,0.048186716
008,act,0.019514207
008,good,0.020697609
008,wrong,0.016689558
008,plot,0.010131904
008,film,0.012606474
008,story,0.010011525
008,write,0.00997212
008,watch,0.011515913
009,work,0.07231336
009,product,0.027338546
009,stop,0.014238378
009,month,0.015731804
009,great,0.01599893
009,week,0.010674414
009,problem,0.009646377
009,computer,0.008630807
009,return,0.011721005
009,day,0.009355133
010,book,0.14334552
010,read,0.095999084
010,bore,0.029079745
010,school,0.011933986
010,wrong,0.016398298
010,finish,0.011497223
010,page,0.010976819
010,enjoy,0.00908497
010,find,0.011811326
010,class,0.007246715
011,cd,0.08641252
011,song,0.0422509
011,music,0.020693747
011,listen,0.017166216
011,buy,0.030455574
011,sound,0.016135989
011,hear,0.012453633
011,good,0.016979354
011,voice,0.008856095
011,track,0.008670907
012,book,0.09259703
012,money,0.072080895
012,time,0.06794539
012,waste,0.043410245
012,movie,0.055924416
012,read,0.0251264
012,watch,0.018450078
012,work,0.019568538
012,bore,0.012209565
012,save,0.009532998
013,waste,0.009190639
013,segment,0.00031983215
013,line.ii,0.0002627148
013,disscusting,0.00021807312
013,limerick,0.00020218051
013,waist,0.0003902759
013,supermarket.spend,0.00015558643
013,coulafter,0.00014112561
013,portrayal,0.00017180256
013,delightful,0.00017291067
014,album,0.08401074
014,song,0.052088328
014,listen,0.016973
014,music,0.015582678
014,hear,0.014658948
014,sound,0.015794681
014,good,0.02080772
014,band,0.012816131
014,track,0.011201301
014,fan,0.011031668
015,order,0.058352955
015,receive,0.045491282
015,item,0.033590652
015,amazon,0.028345436
015,ship,0.021267138
015,seller,0.016930666
015,product,0.022101793
015,refund,0.013732881
015,return,0.0171841
015,month,0.014628369
016,dvd,0.08771581
016,player,0.035815034
016,play,0.038228042
016,work,0.023381397
016,region,0.013416707
016,disc,0.014197522
016,watch,0.016754195
016,video,0.012703518
016,ray,0.010566104
016,movie,0.026410924
017,battery,0.05623064
017,charge,0.029186431
017,phone,0.02069647
017,work,0.025724487
017,buy,0.028459366
017,charger,0.012303557
017,month,0.015042648
017,turn,0.010973949
017,year,0.013376421
017,hour,0.009985037
018,size,0.051551536
018,small,0.039803173
018,fit,0.029991295
018,order,0.02817428
018,return,0.025488697
018,large,0.018138986
018,wear,0.015583321
018,shoe,0.012291552
018,big,0.013112354
018,item,0.011370426
019,game,0.12696621
019,play,0.062356282
019,graphic,0.016455565
019,buy,0.029438933
019,computer,0.010081709
019,player,0.0099369185
019,level,0.006884384
019,control,0.0064669587
019,toy,0.006660777
019,bug,0.005464455

In [4]:
import pandas as pd
foutyk_df = pd.read_csv("doc-topics.csv")
foutyk_df.head()

              docname  topic  proportion
0    extract_df.csv:9     17    1.000000
1   extract_df.csv:44      1    1.000000
2   extract_df.csv:79      1    1.000000
3  extract_df.csv:114      1    1.000000
4  extract_df.csv:149      1    0.779731

In [5]:
foutyk_term_df = pd.read_csv("topic-terms.csv")
foutyk_term_df.head()

   topic   term    weight
0      0  movie  0.094024
1      0  watch  0.024984
2      0  wrong  0.014465
3      0  funny  0.007826
4      0   make  0.013933

In [6]:
foutyk_topic_df = foutyk_term_df.sort_values(['topic','weight'],ascending=False).groupby('topic').head(5).drop('weight', axis=1)

In [7]:
foutyk_topic_join_df = foutyk_topic_df.sort_values(by='topic')
foutyk_topic_join_df.head()

   topic   term
4      0   make
0      0  movie
6      0   good
2      0  wrong
1      0  watch

In [8]:

fouty_topic_join_name_df = foutyk_topic_join_df.groupby('topic')['term'].apply(lambda x: '|'.join(x)).rename('topic_term').reset_index()

fouty_topic_join_name_df

    topic                               topic_term
0       0              make|movie|good|wrong|watch
1       1          character|story|read|book|write
2       2                 set|month|year|break|buy
3       3           product|buy|money|work|quality
4       4              good|poor|sound|dvd|quality
5       5              star|book|give|review|movie
6       6         edition|dvd|original|buy|version
7       7                  bad|film|watch|act|make
8       8                 wrong|act|good|bad|movie
9       9            stop|month|great|product|work
10     10              school|bore|read|book|wrong
11     11                 listen|music|buy|song|cd
12     12              money|book|movie|waste|time
13     13  disscusting|line.ii|segment|waist|waste
14     14             sound|listen|good|song|album
15     15        order|receive|amazon|product|item
16     16               work|movie|player|play|dvd
17     17            charge|battery|work|phone|buy
18     18              return|order|fit|small|size
19     19           computer|graphic|buy|play|game

In [9]:
print(foutyk_df.shape)
foutyk_topic_merge_df = foutyk_df.merge(fouty_topic_join_name_df,how='outer', left_on = ['topic'], right_on = ['topic'])
print(foutyk_topic_merge_df.shape)
foutyk_topic_merge_df.head(10)

(54446, 3)
(54446, 4)

                docname  topic  proportion                     topic_term
0      extract_df.csv:9     17    1.000000  charge|battery|work|phone|buy
1    extract_df.csv:639     17    1.000000  charge|battery|work|phone|buy
2   extract_df.csv:1479     17    0.167973  charge|battery|work|phone|buy
3   extract_df.csv:2634     17    0.253236  charge|battery|work|phone|buy
4   extract_df.csv:2914     17    1.000000  charge|battery|work|phone|buy
5   extract_df.csv:3614     17    1.000000  charge|battery|work|phone|buy
6   extract_df.csv:5889     17    0.569225  charge|battery|work|phone|buy
7   extract_df.csv:7814     17    0.132194  charge|battery|work|phone|buy
8   extract_df.csv:9704     17    1.000000  charge|battery|work|phone|buy
9  extract_df.csv:15199     17    0.517387  charge|battery|work|phone|buy

In [35]:
### merge tenk_topic_merge_df with extract_10k_df
extract_40k_df = neg_df.head(40000)
extract_40k_df.head()

,Label,Title,Review
6,1,Buyer beware,"This is a self-published book, and if you want..."
10,1,The Worst!,A complete waste of time. Typographical errors...
13,1,Oh please,I guess you have to be a romance novel lover f...
14,1,Awful beyond belief!,I feel I have to write to keep others from was...
15,1,Don't try to fool us with fake reviews.,It's glaringly obvious that all of the glowing...

,Label,Title,Review
6,1,Buyer beware,"This is a self-published book, and if you want..."
10,1,The Worst!,A complete waste of time. Typographical errors...
13,1,Oh please,I guess you have to be a romance novel lover f...
14,1,Awful beyond belief!,I feel I have to write to keep others from was...
15,1,Don't try to fool us with fake reviews.,It's glaringly obvious that all of the glowing...

In [36]:
foutyk_topic_merge_df['csv_index']=foutyk_topic_merge_df['docname'].str.extract('(\d+)').astype(int).apply(lambda x: x-1)
foutyk_topic_merge_df.head()

,docname,topic,proportion,topic_term,csv_index
0,extract_df.csv:9,17,1.000000,charge|battery|work|phone|buy,8
1,extract_df.csv:639,17,1.000000,charge|battery|work|phone|buy,638
2,extract_df.csv:1479,17,0.167973,charge|battery|work|phone|buy,1478
3,extract_df.csv:2634,17,0.253236,charge|battery|work|phone|buy,2633
4,extract_df.csv:2914,17,1.000000,charge|battery|work|phone|buy,2913

,docname,topic,proportion,topic_term,csv_index
0,extract_df.csv:9,17,1.000000,charge|battery|work|phone|buy,8
1,extract_df.csv:639,17,1.000000,charge|battery|work|phone|buy,638
2,extract_df.csv:1479,17,0.167973,charge|battery|work|phone|buy,1478
3,extract_df.csv:2634,17,0.253236,charge|battery|work|phone|buy,2633
4,extract_df.csv:2914,17,1.000000,charge|battery|work|phone|buy,2913

In [37]:
extract_40k_df.reset_index(inplace=True)

In [38]:
extract_40k_df.drop(['index'], axis=1,inplace=True)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [39]:


foutyk_final_merge_df = extract_40k_df.merge(foutyk_topic_merge_df,how='outer', left_on = extract_40k_df.index, right_on = ['csv_index'])
foutyk_final_merge_df.head(200)

,Label,Title,Review,docname,topic,proportion,topic_term,csv_index
0,1.0,Buyer beware,"This is a self-published book, and if you want...",extract_df.csv:1,1.0,1.000000,character|story|read|book|write,0
1,1.0,The Worst!,A complete waste of time. Typographical errors...,extract_df.csv:2,6.0,1.000000,edition|dvd|original|buy|version,1
2,1.0,Oh please,I guess you have to be a romance novel lover f...,extract_df.csv:3,5.0,1.000000,star|book|give|review|movie,2
3,1.0,Awful beyond belief!,I feel I have to write to keep others from was...,extract_df.csv:4,5.0,1.000000,star|book|give|review|movie,3
4,1.0,Don't try to fool us with fake reviews.,It's glaringly obvious that all of the glowing...,extract_df.csv:5,18.0,1.000000,return|order|fit|small|size,4
5,1.0,sizes recomended in the size chart are not real,sizes are much smaller than what is recomended...,extract_df.csv:6,8.0,1.000000,wrong|act|good|bad|movie,5
6,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,13.0,0.138473,disscusting|line.ii|segment|waist|waste,6
7,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,0.0,0.040126,make|movie|good|wrong|watch,6
8,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,7.0,0.424071,bad|film|watch|act|make,6
9,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,2.0,0.059160,set|month|year|break|buy,6
10,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,4.0,0.338170,good|poor|sound|dvd|quality,6
11,1.0,Another Abysmal Digital Copy,"Rather than scratches and insect droppings, th...",extract_df.csv:8,2.0,1.000000,set|month|year|break|buy,7
12,1.0,Problem with charging smaller AAAs,I have had the charger for more than two years...,extract_df.csv:9,17.0,1.000000,charge|battery|work|phone|buy,8
13,1.0,"Works, but not as advertised",I bought one of these chargers..the instructio...,extract_df.csv:10,17.0,1.000000,charge|battery|work|phone|buy,9
14,1.0,Disappointed,"I read the reviews,made my purchase and was ve...",extract_df.csv:11,1.0,0.896889,character|story|read|book|write,10
15,1.0,Disappointed,"I read the reviews,made my purchase and was ve...",extract_df.csv:11,13.0,0.103111,disscusting|line.ii|segment|waist|waste,10
16,1.0,Oh dear,I was excited to find a book ostensibly about ...,extract_df.csv:12,16.0,1.000000,work|movie|player|play|dvd,11
17,1.0,Incorrect disc!,"I am a big JVC fan, but I do not like this mod...",extract_df.csv:13,7.0,1.000000,bad|film|watch|act|make,12
18,1.0,"should be titled ""Hollywood Debacle""","The plot is so ridiculous, I have to wonder if...",extract_df.csv:14,10.0,1.000000,school|bore|read|book|wrong,13
19,1.0,Nothing you don't already know,If you have even casually looked into applying...,extract_df.csv:15,13.0,1.000000,disscusting|line.ii|segment|waist|waste,14
20,1.0,Unfortunately it wasn't entertaining in the le...,"When I first ordered the CD, I figured it was ...",extract_df.csv:16,9.0,1.000000,stop|month|great|product|work,15
21,1.0,Doesn't work on a Mac,It clearly says on line this will work on a Ma...,extract_df.csv:17,19.0,1.000000,computer|graphic|buy|play|game,16
22,1.0,Very Frustrating,My three year old son was very excited to get ...,extract_df.csv:18,19.0,1.000000,computer|graphic|buy|play|game,17
23,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,1.0,0.338073,character|story|read|book|write,18
24,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,13.0,0.278728,disscusting|line.ii|segment|waist|waste,18
25,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,9.0,0.089346,stop|month|great|product|work,18
26,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,3.0,0.293853,product|buy|money|work|quality,18
27,1.0,Cannot recommend,"As a former Alaskan, I didn't want to have to ...",extract_df.csv:20,4.0,1.000000,good|poor|sound|dvd|quality,19
28,1.0,Maybe I got a bad one.,"My experience: I got this from FM, not Amazon....",extract_df.csv:21,16.0,1.000000,work|movie|player|play|dvd,20
29,1.0,TERRIBLE!! DO NOT BUY THIS,"I bought this for my wife for her birthday,and...",extract_df.csv:22,2.0,1.000000,set|month|year|break|buy,21
...,...,...,...,...,...,...,...,...
170,1.0,Do not waste your time....lousy,This is one of the worst written books I have ...,extract_df.csv:130,1.0,0.531786,character|story|read|book|write,129
171,1.0,Do not waste your time....lousy,This is one of the worst written books I have ...,extract_df.csv:130,13.0,0.070351,disscusting|line.ii|segment|waist|waste,129
172,1.0,Do not waste your time....lousy,This is one of the worst written books I have ...,extract_df.csv:130,2.0,0.397867,set|month|year|break|buy,129
173,1.0,The food is sexier than the sex,This book as all about the joy of eating and c...,extract_df.csv:131,1.0,0.323202,character|story|read|book|write,130
174,1.0,The food is sexier than the sex,This book as all about the joy of eating and c...,extract_df.csv:131,13.0,0.039830,disscusting|line.ii|segment|waist|waste,130
175,1.0,The food is sexier than the sex,This book as all about the joy of eating and c...,extract_df.csv:131,5.0,0.508949,star|book|give|review|movie,130
176,1.0,The food is sexier than the sex,This book as all about the joy of eating and c...,extract_df.csv:131,2.0,0.128018,set|month|year|break|buy,130
177,1.0,Back to basics,Generally speaking a great book if you are not...,extract_df.csv:132,13.0,1.000000,disscusting|line.ii|segment|waist|waste,131
178,1.0,CASH MONEY AND NO LIMIT ARE THA SAME THANG!,THERE BEATS ARE DIFFERENT THAN NO LIMITS BUT T...,extract_df.csv:133,1.0,0.135116,character|story|read|book|write,132
179,1.0,CASH MONEY AND NO LIMIT ARE THA SAME THANG!,THERE BEATS ARE DIFFERENT THAN NO LIMITS BUT T...,extract_df.csv:133,13.0,0.098563,disscusting|line.ii|segment|waist|waste,132
180,1.0,CASH MONEY AND NO LIMIT ARE THA SAME THANG!,THERE BEATS ARE DIFFERENT THAN NO LIMITS BUT T...,extract_df.csv:133,14.0,0.302464,sound|listen|good|song|album,132
181,1.0,CASH MONEY AND NO LIMIT ARE THA SAME THANG!,THERE BEATS ARE DIFFERENT THAN NO LIMITS BUT T...,extract_df.csv:133,11.0,0.463857,listen|music|buy|song|cd,132
182,1.0,Just as trashy as garbage music comes...,"I listen to every kind of music in existence, ...",extract_df.csv:134,13.0,1.000000,disscusting|line.ii|segment|waist|waste,133
183,1.0,"this album is garbage,straight bfi material",cash money records is going to have to up with...,extract_df.csv:135,11.0,1.000000,listen|music|buy|song|cd,134
184,1.0,save your $$$,"I can't believe how much this cd sucks, save y...",extract_df.csv:136,14.0,1.000000,sound|listen|good|song|album,135
185,1.0,PLEASE DON'T BUY THIS CD!,I was truly disappointed in this album. The be...,extract_df.csv:137,11.0,1.000000,listen|music|buy|song|cd,136
186,1.0,THIS IS A ONE COMPARED TO JUVENILEZ 400 DEGREEZ,ALL I WILL SAY IS THIS WAS A GREAT RELEASE WHE...,extract_df.csv:138,14.0,1.000000,sound|listen|good|song|album,137
187,1.0,The worst rap I ever Heard,This is what is in the dictionary under wack. ...,extract_df.csv:139,8.0,1.000000,wrong|act|good|bad|movie,138
188,1.0,super wack,just like No-Limit Cash Money has no shame at ...,extract_df.csv:140,14.0,1.000000,sound|listen|good|song|album,139
189,1.0,ghetto foolishness,"i like the Hot Boys and really like Juvenile, ...",extract_df.csv:141,14.0,1.000000,sound|listen|good|song|album,140
190,1.0,Please try another Hot Boy album...,Guerriula Warfare is an album I fell is someth...,extract_df.csv:142,13.0,0.406724,disscusting|line.ii|segment|waist|waste,141
191,1.0,Please try another Hot Boy album...,Guerriula Warfare is an album I fell is someth...,extract_df.csv:142,14.0,0.357271,sound|listen|good|song|album,141
192,1.0,Please try another Hot Boy album...,Guerriula Warfare is an album I fell is someth...,extract_df.csv:142,19.0,0.236005,computer|graphic|buy|play|game,141
193,1.0,This CD iz Aight...........,FIRST OF ALL HOW COME ALL YA'LL BE DISSIN' NO ...,extract_df.csv:143,2.0,1.000000,set|month|year|break|buy,142
194,1.0,NOT A RIDE ON,I should have paid closer attention to the siz...,extract_df.csv:144,1.0,1.000000,character|story|read|book|write,143
195,1.0,Complete reference... yes,Well although i found the book to be extremely...,extract_df.csv:145,3.0,1.000000,product|buy|money|work|quality,144
196,1.0,My Daughter Hates It,I got this throat spray in a hurry hoping to r...,extract_df.csv:146,2.0,1.000000,set|month|year|break|buy,145
197,1.0,bench,The bench is very nice. I had a few pieces tha...,extract_df.csv:147,3.0,1.000000,product|buy|money|work|quality,146
198,1.0,Gauges in chair arms,"Chair is the product ordered, however it came ...",extract_df.csv:148,14.0,1.000000,sound|listen|good|song|album,147
199,1.0,Seal IV,"I am a huge fan of Seal's first 3 albums, so I...",extract_df.csv:149,1.0,0.779731,character|story|read|book|write,148

,Label,Title,Review,docname,topic,proportion,topic_term,csv_index
0,1.0,Buyer beware,"This is a self-published book, and if you want...",extract_df.csv:1,1.0,1.000000,character|story|read|book|write,0
1,1.0,The Worst!,A complete waste of time. Typographical errors...,extract_df.csv:2,6.0,1.000000,edition|dvd|original|buy|version,1
2,1.0,Oh please,I guess you have to be a romance novel lover f...,extract_df.csv:3,5.0,1.000000,star|book|give|review|movie,2
3,1.0,Awful beyond belief!,I feel I have to write to keep others from was...,extract_df.csv:4,5.0,1.000000,star|book|give|review|movie,3
4,1.0,Don't try to fool us with fake reviews.,It's glaringly obvious that all of the glowing...,extract_df.csv:5,18.0,1.000000,return|order|fit|small|size,4
5,1.0,sizes recomended in the size chart are not real,sizes are much smaller than what is recomended...,extract_df.csv:6,8.0,1.000000,wrong|act|good|bad|movie,5
6,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,13.0,0.138473,disscusting|line.ii|segment|waist|waste,6
7,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,0.0,0.040126,make|movie|good|wrong|watch,6
8,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,7.0,0.424071,bad|film|watch|act|make,6
9,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,2.0,0.059160,set|month|year|break|buy,6
10,1.0,mens ultrasheer,"This model may be ok for sedentary types, but ...",extract_df.csv:7,4.0,0.338170,good|poor|sound|dvd|quality,6
11,1.0,Another Abysmal Digital Copy,"Rather than scratches and insect droppings, th...",extract_df.csv:8,2.0,1.000000,set|month|year|break|buy,7
12,1.0,Problem with charging smaller AAAs,I have had the charger for more than two years...,extract_df.csv:9,17.0,1.000000,charge|battery|work|phone|buy,8
13,1.0,"Works, but not as advertised",I bought one of these chargers..the instructio...,extract_df.csv:10,17.0,1.000000,charge|battery|work|phone|buy,9
14,1.0,Disappointed,"I read the reviews,made my purchase and was ve...",extract_df.csv:11,1.0,0.896889,character|story|read|book|write,10
15,1.0,Disappointed,"I read the reviews,made my purchase and was ve...",extract_df.csv:11,13.0,0.103111,disscusting|line.ii|segment|waist|waste,10
16,1.0,Oh dear,I was excited to find a book ostensibly about ...,extract_df.csv:12,16.0,1.000000,work|movie|player|play|dvd,11
17,1.0,Incorrect disc!,"I am a big JVC fan, but I do not like this mod...",extract_df.csv:13,7.0,1.000000,bad|film|watch|act|make,12
18,1.0,"should be titled ""Hollywood Debacle""","The plot is so ridiculous, I have to wonder if...",extract_df.csv:14,10.0,1.000000,school|bore|read|book|wrong,13
19,1.0,Nothing you don't already know,If you have even casually looked into applying...,extract_df.csv:15,13.0,1.000000,disscusting|line.ii|segment|waist|waste,14
20,1.0,Unfortunately it wasn't entertaining in the le...,"When I first ordered the CD, I figured it was ...",extract_df.csv:16,9.0,1.000000,stop|month|great|product|work,15
21,1.0,Doesn't work on a Mac,It clearly says on line this will work on a Ma...,extract_df.csv:17,19.0,1.000000,computer|graphic|buy|play|game,16
22,1.0,Very Frustrating,My three year old son was very excited to get ...,extract_df.csv:18,19.0,1.000000,computer|graphic|buy|play|game,17
23,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,1.0,0.338073,character|story|read|book|write,18
24,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,13.0,0.278728,disscusting|line.ii|segment|waist|waste,18
25,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,9.0,0.089346,stop|month|great|product|work,18
26,1.0,Mind numbing,This game makes you do the same things over an...,extract_df.csv:19,3.0,0.293853,product|buy|money|work|quality,18
27,1.0,Cannot recommend,"As a former Alaskan, I didn't want to have to ...",extract_df.csv:20,4.0,1.000000,good|poor|sound|dvd|quality,19
28,1.0,Maybe I got a bad one.,"My experience: I got this from FM, not Amazon....",extract_df.csv:21,16.0,1.000000,work|movie|player|play|dvd,20
29,1.0,TERRIBLE!! DO NOT BUY THIS,"I bought this for my wife for her birthday,and...",extract_df.csv:22,2.0,1.000000,set|month|year|break|buy,21
...,...,...,...,...,...,...,...,...
170,1.0,Do not waste your time....lousy,This is one of the worst written books I have ...,extract_df.csv:130,1.0,0.531786,character|story|read|book|write,129
171,1.0,Do not waste your time....lousy,This is one of the worst written books I have ...,extract_df.csv:130,13.0,0.070351,disscusting|line.ii|segment|waist|waste,129
172,1.0,Do not waste your time....lousy,This is one of the worst written books I have ...,extract_df.csv:130,2.0,0.397867,set|month|year|break|buy,129
173,1.0,The food is sexier than the sex,This book as all about the joy of eating and c...,extract_df.csv:131,1.0,0.323202,character|story|read|book|write,130
174,1.0,The food is sexier than the sex,This book as all about the joy of eating and c...,extract_df.csv:131,13.0,0.039830,disscusting|line.ii|segment|waist|waste,130
175,1.0,The food is sexier than the sex,This book as all about the joy of eating and c...,extract_df.csv:131,5.0,0.508949,star|book|give|review|movie,130
176,1.0,The food is sexier than the sex,This book as all about the joy of eating and c...,extract_df.csv:131,2.0,0.128018,set|month|year|break|buy,130
177,1.0,Back to basics,Generally speaking a great book if you are not...,extract_df.csv:132,13.0,1.000000,disscusting|line.ii|segment|waist|waste,131
178,1.0,CASH MONEY AND NO LIMIT ARE THA SAME THANG!,THERE BEATS ARE DIFFERENT THAN NO LIMITS BUT T...,extract_df.csv:133,1.0,0.135116,character|story|read|book|write,132
179,1.0,CASH MONEY AND NO LIMIT ARE THA SAME THANG!,THERE BEATS ARE DIFFERENT THAN NO LIMITS BUT T...,extract_df.csv:133,13.0,0.098563,disscusting|line.ii|segment|waist|waste,132
180,1.0,CASH MONEY AND NO LIMIT ARE THA SAME THANG!,THERE BEATS ARE DIFFERENT THAN NO LIMITS BUT T...,extract_df.csv:133,14.0,0.302464,sound|listen|good|song|album,132
181,1.0,CASH MONEY AND NO LIMIT ARE THA SAME THANG!,THERE BEATS ARE DIFFERENT THAN NO LIMITS BUT T...,extract_df.csv:133,11.0,0.463857,listen|music|buy|song|cd,132
182,1.0,Just as trashy as garbage music comes...,"I listen to every kind of music in existence, ...",extract_df.csv:134,13.0,1.000000,disscusting|line.ii|segment|waist|waste,133
183,1.0,"this album is garbage,straight bfi material",cash money records is going to have to up with...,extract_df.csv:135,11.0,1.000000,listen|music|buy|song|cd,134
184,1.0,save your $$$,"I can't believe how much this cd sucks, save y...",extract_df.csv:136,14.0,1.000000,sound|listen|good|song|album,135
185,1.0,PLEASE DON'T BUY THIS CD!,I was truly disappointed in this album. The be...,extract_df.csv:137,11.0,1.000000,listen|music|buy|song|cd,136
186,1.0,THIS IS A ONE COMPARED TO JUVENILEZ 400 DEGREEZ,ALL I WILL SAY IS THIS WAS A GREAT RELEASE WHE...,extract_df.csv:138,14.0,1.000000,sound|listen|good|song|album,137
187,1.0,The worst rap I ever Heard,This is what is in the dictionary under wack. ...,extract_df.csv:139,8.0,1.000000,wrong|act|good|bad|movie,138
188,1.0,super wack,just like No-Limit Cash Money has no shame at ...,extract_df.csv:140,14.0,1.000000,sound|listen|good|song|album,139
189,1.0,ghetto foolishness,"i like the Hot Boys and really like Juvenile, ...",extract_df.csv:141,14.0,1.000000,sound|listen|good|song|album,140
190,1.0,Please try another Hot Boy album...,Guerriula Warfare is an album I fell is someth...,extract_df.csv:142,13.0,0.406724,disscusting|line.ii|segment|waist|waste,141
191,1.0,Please try another Hot Boy album...,Guerriula Warfare is an album I fell is someth...,extract_df.csv:142,14.0,0.357271,sound|listen|good|song|album,141
192,1.0,Please try another Hot Boy album...,Guerriula Warfare is an album I fell is someth...,extract_df.csv:142,19.0,0.236005,computer|graphic|buy|play|game,141
193,1.0,This CD iz Aight...........,FIRST OF ALL HOW COME ALL YA'LL BE DISSIN' NO ...,extract_df.csv:143,2.0,1.000000,set|month|year|break|buy,142
194,1.0,NOT A RIDE ON,I should have paid closer attention to the siz...,extract_df.csv:144,1.0,1.000000,character|story|read|book|write,143
195,1.0,Complete reference... yes,Well although i found the book to be extremely...,extract_df.csv:145,3.0,1.000000,product|buy|money|work|quality,144
196,1.0,My Daughter Hates It,I got this throat spray in a hurry hoping to r...,extract_df.csv:146,2.0,1.000000,set|month|year|break|buy,145
197,1.0,bench,The bench is very nice. I had a few pieces tha...,extract_df.csv:147,3.0,1.000000,product|buy|money|work|quality,146
198,1.0,Gauges in chair arms,"Chair is the product ordered, however it came ...",extract_df.csv:148,14.0,1.000000,sound|listen|good|song|album,147
199,1.0,Seal IV,"I am a huge fan of Seal's first 3 albums, so I...",extract_df.csv:149,1.0,0.779731,character|story|read|book|write,148

In [40]:
foutyk_final_df = foutyk_final_merge_df[foutyk_final_merge_df['proportion']==1.]

In [41]:
foutyk_final_df.shape

(33942, 8)

(33942, 8)

In [42]:
foutyk_final_df.to_csv('foutyk_final_df.csv', index=False)

In [43]:
comprehend_channel = prefix + '/comprehend'

sess.upload_data(path='foutyk_final_df.csv', bucket=bucket, key_prefix=comprehend_channel)

's3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/comprehend/foutyk_final_df.csv'

's3://sagemaker-us-east-1-023375022819/NLP_AWS/NLP_AWS/comprehend/foutyk_final_df.csv'